.elments__like-btn {
  min-width: 20px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/like-icon.svg);
  background-size: 20px 18px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: all .5s;
}

.elments__like-btn:hover {
  opacity: .6;
  transform: scale(1.2);
  cursor: pointer;
}

.elments__like-btn:focus {
  outline: none;
  transform: scale(1.2);
  background-image: url(../../../images/like-icon-red.svg);
}
