.elements__text-notification {
  margin: 0;
  padding-top: 70px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  line-height: 1.2;
  color: #545454;
}

@media screen and (max-width: 768px) {
  .elements__text-notification {
    font-size: 30px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 550px) {
  .elements__text-notification {
    font-size: 24px;
    line-height: 1.1;
  }
}
