@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/root/root.css);
@import url(../blocks/root/__header/root__header.css);
@import url(../blocks/root/__content/root__content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__profile/content__profile.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__user-data/profile__user-data.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__column/profile__column.css);
@import url(../blocks/profile/__row/profile__row.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__user-status/profile__user-status.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__item-img/elements__item-img.css);
@import url(../blocks/elements/__row/elements__row.css);
@import url(../blocks/elements/__item-title/elements__item-title.css);
@import url(../blocks/elements/__like-btn/elements__like-btn.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__inner/popup__inner.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/_opened/popup_opened.css);
